* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  overflow: hidden;
}

ul, ol, h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', Helvetica, sans-serif;
}

#root {
  min-height: 100%;

}

main {
  min-height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 102px;
  background-color: #1C1A19;
}

.section {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
}

.header .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 27px;
}

.logo-wrapper {
 display: flex;
 align-items: center;
 gap: 15px;
}

.menu {
  width: 294px;
  color: #fff;
  margin-right: 50px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__button {
  color: #fff;
  font-size: 21px;
}

.menu__button:hover
 {
  color: #FDBF5A;
}

.button {
  width: 353px;
  height: 61px;
  border-radius: 70px;
  font-size: 24px;
  font-weight: 700;
}

.button_theme--orange {
  background-color: #FDBF5A;
}

.button_theme--orange:active {
  background-color: #FFA842;
}

.button_theme--light {
  width: auto;
  height: auto;
  font-size: inherit;
  font-weight: 400;
  color: #FDBF5A;
}

.button_theme--light:hover {
  color:#828282;
  
}